title: Westley Overcash
email: wes@wessence.com
description: I write the stories your audience retells.
url: "https://wessence.com"
baseurl: ""  # Leave empty since your custom domain points directly to the root

# Build settings
markdown: kramdown

# Pagination
paginate: 10
paginate_path: "/blog/page:num/"

# Collections
collections:
  portfolio:
    output: true
    permalink: /portfolio/:path/
  writing:
    output: true
    permalink: /writing/:name/

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate

# Default front matter values
defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
